.edit-job-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__job-name {
    text-align: center;
    font-weight: 400;
    max-width: 50%;
    overflow-wrap: break-word;
  }
  &__select {
    height: 35px;
    cursor: pointer;
    width: 200px;
  }
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
