.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-out;

  &:active {
    transition: all 0.1s ease-out;
    transform: scale(0.95);
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &--cursor-not-allowed {
    cursor: not-allowed;
  }

  &--sm {
    padding: 5px 10px;
  }

  &--md {
    padding: 7px 13px;
  }

  &--lg {
    padding: 10px 15px;
  }
}
